@model List<Website.RealWorldApps.Models.Game>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<div class="panel">
    <div class="panel-body">
        Click on the images below to view the box score, view the shot chart and read the game story
    </div>
    <ul class="list-inline">

        @for (int i = 0; i < Model.Count; i++)
        {
            <li>
                <div class="panel-body">
                    <div class="panel-body">
                        <div class="row text-center">
                            <a href="~/Game/GameDetails?id=@i">
                                <img src="~/Content/Images/@Model[i].ImgName" alt="@Model[i].OpponentName" class="img-rounded" style="height: 120px; width:120px;" />
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            Opponent: @Model[i].OpponentName
                        </div>
                        <div class="row">
                            Final Score: @Model[i].CheshireScore : @Model[i].OpponentScore
                            @if (Model[i].WonGame)
                            {
                                <span>W</span>
                            }
                            else
                            {
                                <span>L</span>
                            }
                        </div>
                        <div class="row">
                            Location: @Model[i].Location
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>