@{
    ViewBag.Title = "Upcoming Fixtures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<ul class="nav nav-tabs">
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Under 13&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="active"><a href="#white" data-toggle="tab">White</a></li>
            <li class="divider"></li>
            <li><a href="#green" data-toggle="tab">Green</a></li>
        </ul>
    </li>
    <li><a href="#under14" data-toggle="tab">Under 14</a></li>
    <li><a href="#under15" data-toggle="tab">Under 15</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Under 16&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#conference16" data-toggle="tab">Conference</a></li>
            <li class="divider"></li>
            <li><a href="#premier16" data-toggle="tab">Premier</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Under 18&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#conference18" data-toggle="tab">Conference</a></li>
            <li class="divider"></li>
            <li><a href="#premier18" data-toggle="tab">Premier</a></li>
        </ul>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="white">
        <ul class="list-unstyled">
            @foreach (var fixture in ViewBag.Under13WhiteSchedule)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.Organisation" class="img-rounded" style="height:200px; width:200px;" />
                            </div>
                            <div class="row">
                                @fixture.Organisation&nbsp;@fixture.OpponentName
                            </div>
                            <div class="row">
                                @fixture.AddressLine1,&nbsp;@fixture.TownCity
                            </div>
                            <div class="row">
                                @fixture.TipOff
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade in" id="green">
        <ul class="list-unstyled">
            @foreach (var fixture in ViewBag.Under13GreenSchedule)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.Organisation" class="img-rounded" style="height:200px; width:200px;" />
                            </div>
                            <div class="row">
                                @fixture.Organisation&nbsp;@fixture.OpponentName
                            </div>
                            <div class="row">
                                @fixture.AddressLine1,&nbsp;@fixture.TownCity
                            </div>
                            <div class="row">
                                @fixture.TipOff
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade in" id="under14">
        <ul class="list-unstyled">
            @foreach (var fixture in ViewBag.Under14Schedule)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.Organisation" class="img-rounded" style="height:200px; width:200px;" />
                            </div>
                            <div class="row">
                                @fixture.Organisation&nbsp;@fixture.OpponentName
                            </div>
                            <div class="row">
                                @fixture.AddressLine1,&nbsp;@fixture.TownCity
                            </div>
                            <div class="row">
                                @fixture.TipOff
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade in" id="under15">
        <ul class="list-unstyled">
            @foreach (var fixture in ViewBag.Under15Schedule)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.Organisation" class="img-rounded" style="height:200px; width:200px;" />
                            </div>
                            <div class="row">
                                @fixture.Organisation&nbsp;@fixture.OpponentName
                            </div>
                            <div class="row">
                                @fixture.AddressLine1,&nbsp;@fixture.TownCity
                            </div>
                            <div class="row">
                                @fixture.TipOff
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade in" id="conference16">
        <ul class="list-unstyled">
            @foreach (var fixture in ViewBag.Under16CSchedule)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.Organisation" class="img-rounded" style="height:200px; width:200px;" />
                            </div>
                            <div class="row">
                                @fixture.Organisation&nbsp;@fixture.OpponentName
                            </div>
                            <div class="row">
                                @fixture.AddressLine1,&nbsp;@fixture.TownCity
                            </div>
                            <div class="row">
                                @fixture.TipOff
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade in" id="premier16">
        <ul class="list-unstyled">
            @foreach (var fixture in ViewBag.Under16PSchedule)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.Organisation" class="img-rounded" style="height:200px; width:200px;" />
                            </div>
                            <div class="row">
                                @fixture.Organisation&nbsp;@fixture.OpponentName
                            </div>
                            <div class="row">
                                @fixture.AddressLine1,&nbsp;@fixture.TownCity
                            </div>
                            <div class="row">
                                @fixture.TipOff
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade in" id="conference18">
        <ul class="list-unstyled">
            @foreach (var fixture in ViewBag.Under18CSchedule)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.Organisation" class="img-rounded" style="height:200px; width:200px;" />
                            </div>
                            <div class="row">
                                @fixture.Organisation&nbsp;@fixture.OpponentName
                            </div>
                            <div class="row">
                                @fixture.AddressLine1,&nbsp;@fixture.TownCity
                            </div>
                            <div class="row">
                                @fixture.TipOff
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade in" id="premier18">
        <ul class="list-unstyled">
            @foreach (var fixture in ViewBag.Under18PSchedule)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel-body text-center">
                            <div class="row">
                                <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.Organisation" class="img-rounded" style="height:200px; width:200px;" />
                            </div>
                            <div class="row">
                                @fixture.Organisation&nbsp;@fixture.OpponentName
                            </div>
                            <div class="row">
                                @fixture.AddressLine1,&nbsp;@fixture.TownCity
                            </div>
                            <div class="row">
                                @fixture.TipOff
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>