@model List<Website.RealWorldApps.Models.Fixture>

@{
    ViewBag.Title = "Upcoming Fixtures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#under13" data-toggle="tab">Under 13</a></li>
    <li><a href="#under14" data-toggle="tab">Under 14</a></li>
    <li><a href="#under15" data-toggle="tab">Under 15</a></li>
    <li><a href="#under16" data-toggle="tab">Under 16</a></li>
    <li><a href="#under18" data-toggle="tab">Under 18</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="under13">
        <ul class="list-unstyled">
            @foreach (var fixture in Model)
            {
                <li>
                    <div class="page-header text-center">
                        <div class="panel">
                            <div class="panel-body text-center">
                                <div class="row">
                                    <img src="~/Content/Images/@fixture.TeamLogoUrl" alt="@fixture.OpponentName" class="img-rounded" style="height:200px; width:200px;" />
                                </div>
                                <div class="row">
                                    @fixture.OpponentName
                                </div>
                                <div class="row">
                                    @fixture.Location
                                </div>
                                <div class="row">
                                    @fixture.TipOff
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="tab-pane fade in" id="under14">
        <div class="page-header text-center">
            Under 14 Under Construction
        </div>
    </div>
    <div class="tab-pane fade in" id="under15">
        <div class="page-header text-center">
            Under 15 Under Construction
        </div>
    </div>
    <div class="tab-pane fade in" id="under16">
        <div class="page-header text-center">
            Under 16 Under Construction
        </div>
    </div>
    <div class="tab-pane fade in" id="under18">
        <div class="page-header text-center">
            Under 18 Under Construction
        </div>
    </div>
</div>