@{
    ViewBag.Title = "Coaches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<ul class="nav nav-tabs">
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Under 13&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="active"><a href="#white" data-toggle="tab">White</a></li>
            <li class="divider"></li>
            <li><a href="#green" data-toggle="tab">Green</a></li>
        </ul>
    </li>
    <li><a href="#under14" data-toggle="tab">Under 14</a></li>
    <li><a href="#under15" data-toggle="tab">Under 15</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Under 16&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#conference16" data-toggle="tab">Conference</a></li>
            <li class="divider"></li>
            <li><a href="#premier16" data-toggle="tab">Premier</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            Under 18&nbsp;<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#conference18" data-toggle="tab">Conference</a></li>
            <li class="divider"></li>
            <li><a href="#premier18" data-toggle="tab">Premier</a></li>
        </ul>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="white">
        @foreach (var coach in ViewBag.Under13WhiteCoaches)
        {
            <div class="page-header text-center">
                <div class="text-center">
                    <img src="~/Content/Images/@coach.ImgName" class="img-circle" alt="@coach.Name" style="height:120px; width: 120px;" />
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @coach.Name
                    </div>
                    <div class="text-center">
                        @coach.Position
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade in" id="green">
        @foreach (var coach in ViewBag.Under13GreenCoaches)
        {
            <div class="page-header text-center">
                <div class="text-center">
                    <img src="~/Content/Images/@coach.ImgName" class="img-circle" alt="@coach.Name" style="height:120px; width: 120px;" />
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @coach.Name
                    </div>
                    <div class="text-center">
                        @coach.Position
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade in" id="under14">
        @foreach (var coach in ViewBag.Under14Coaches)
        {
            <div class="page-header text-center">
                <div class="text-center">
                    <img src="~/Content/Images/@coach.ImgName" class="img-circle" alt="@coach.Name" style="height:120px; width: 120px;" />
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @coach.Name
                    </div>
                    <div class="text-center">
                        @coach.Position
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade in" id="under15">
        @foreach (var coach in ViewBag.Under15Coaches)
        {
            <div class="page-header text-center">
                <div class="text-center">
                    <img src="~/Content/Images/@coach.ImgName" class="img-circle" alt="@coach.Name" style="height:120px; width: 120px;" />
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @coach.Name
                    </div>
                    <div class="text-center">
                        @coach.Position
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade in" id="conference16">
        @foreach (var coach in ViewBag.Under16CCoaches)
        {
            <div class="page-header text-center">
                <div class="text-center">
                    <img src="~/Content/Images/@coach.ImgName" class="img-circle" alt="@coach.Name" style="height:120px; width: 120px;" />
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @coach.Name
                    </div>
                    <div class="text-center">
                        @coach.Position
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade in" id="premier16">
        @foreach (var coach in ViewBag.Under16PCoaches)
        {
            <div class="page-header text-center">
                <div class="text-center">
                    <img src="~/Content/Images/@coach.ImgName" class="img-circle" alt="@coach.Name" style="height:120px; width: 120px;" />
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @coach.Name
                    </div>
                    <div class="text-center">
                        @coach.Position
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade in" id="conference18">
        @foreach (var coach in ViewBag.Under18CCoaches)
        {
            <div class="page-header text-center">
                <div class="text-center">
                    <img src="~/Content/Images/@coach.ImgName" class="img-circle" alt="@coach.Name" style="height:120px; width: 120px;" />
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @coach.Name
                    </div>
                    <div class="text-center">
                        @coach.Position
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade in" id="premier18">
        @foreach (var coach in ViewBag.Under18PCoaches)
        {
            <div class="page-header text-center">
                <div class="text-center">
                    <img src="~/Content/Images/@coach.ImgName" class="img-circle" alt="@coach.Name" style="height:120px; width: 120px;" />
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        @coach.Name
                    </div>
                    <div class="text-center">
                        @coach.Position
                    </div>
                </div>
            </div>
        }
    </div>
</div>